<!DOCTYPE html>
<head>
	<link rel="stylesheet"  type="text/css" href="style.css" >
	<meta charset="UTF-8">
	<title>Don't Be Hangry</title>
	<a href="/blogs">BLOG & SEARCH</a>
</head>
<body>
	<h2>Create A New Post</h2>
	<form method="POST" action="/blogs">
		<textarea name="title">Post Title</textarea></br>
		<textarea name="image">Post Image URL</textarea></br>
		<textarea name="body">Post Body</textarea></br>
		<textarea name="text_link">Link Comment</textarea></br>
		<textarea name="link">Link</textarea></br>
		<button>Submit New Post</button>
	</form>
</body>